<%= form_with(url: comics_search_path, local:true, method: "get") do %>
  <div class="form-group">
    <%= text_field_tag(:hero_name, nil, class:'input', placeholder:'Hero name') %>
  </div>
  <%= submit_tag("Search", class:"button is-info") %>
<% end %>
