<turbo-stream action="replace" target="<%=@heart_id%>">
  <template>
    <div id="<%=@heart_id%>">
      <%=render partial: 'heart_on', locals: { comic_id: @comic_id }%>
    </div>
  </template>
</turbo-stream>